{% extends "base.html" %}
{% block content %}

    <div class="max-w-xl mx-auto bg-white rounded-lg shadow p-4">
        <div class=" flex flex-row space-x-6 my-4">
            <img src="{{candidat.photo.url}}" class="w-48 rounded-lg" />
            <div>
                <p>Nom : <span class="font-semibold">{{candidat.nom}}</span></p>
                <p>Post-Nom : <span class="font-semibold">{{candidat.post_nom}}</span></p>
                <p>Prenom : <span class="font-semibold">{{candidat.prenom}}</span> </p>
                <p>Numero : <span class="font-semibold">{{candidat.numero}}</span> </p>
                <p>Email : <span class="font-semibold">{{candidat.email}}</span> </p>
                <p>Téléphone : <span class="font-semibold">{{candidat.telephone}}</span> </p>
                <div class="flex flex-row space-x-4 my-4">
                    <button class="flex flex-row space-x-2 items-center bg-blue-500 py-2 px-4 text-xs text-sm rounded-lg text-white hover:bg-blue-600 shadow">
                        <svg class="w-3 h-3 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.418 17.861 1 20l2.139-6.418m4.279 4.279 10.7-10.7a3.027 3.027 0 0 0-2.14-5.165c-.802 0-1.571.319-2.139.886l-10.7 10.7m4.279 4.279-4.279-4.279m2.139 2.14 7.844-7.844m-1.426-2.853 4.279 4.279"/>
                        </svg>
                        <span>Modifier</span>
                    </button>
                    <button class="flex flex-row space-x-2 items-center bg-blue-500 py-2 px-4 text-xs text-sm rounded-lg text-white hover:bg-blue-600 shadow">
                        <svg class="w-3 h-3 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"/>
                          </svg>
                        <span>Supprimer</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="my-4">
            <h3 class="font-semibold my-2">Historique du candidat</h3>
            <p class="text-sm">Aucun</p>
        </div>
    </div>

{% endblock content %}