{% extends "base.html" %}
{% block content %}
<div>

    <h1 class="text-2xl font-bold my-4">Candidats</h1>
    {% if candidats %}
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Post-Nom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Prenom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Numero
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for c in candidats %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{c.nom}}
                    </th>
                    <td class="px-6 py-4">
                        {{c.post_nom}}
                    </td>
                    <td class="px-6 py-4">
                        {{c.prenom}}
                    </td>
                    <td class="px-6 py-4">
                        {{c.numero}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p class="text-sm">Aucun candidat pour le moment</p>
    {% endif %}
</div>

{% endblock content %}