{% extends "base.html" %}
{% block content %}

    <div class="max-w-2xl mx-auto bg-white rounded-lg shadow p-4">
        <div class="border border-gray-200 rounded-lg divide divide-y">
            <div class="p-2">
                <h3 class="font-semibold">{{vote_simple.titre}}</h3>
                <p class="text-sm text-gray-600">{{vote_simple.description}}</p>
                <p class="text-xs text-right">{{vote_simple.date}}</p>
            </div>
            <div class="flex flex-row space-x-4 mt-2 p-2">
                <div class="flex flex-row space-x-1 items-center">
                    <svg class="w-4 h-4 text-green-600 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 10 2 2 4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <span>0</span>
                </div>
                <div class="flex flex-row space-x-1 items-center">
                    <svg class="w-4 h-4 text-red-600 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m13 7-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                      </svg>
                    <span>0</span>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}